@using SmartQueue.Data.Models
@model IEnumerable<Service>

@{
	Layout = "_Layout";
}
@{
	foreach (Service service in Model)
	{
		<div>
			<h3>@service.Name</h3>
			<p>@service.Description</p>
		</div>
	}
}